@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
<link rel="stylesheet" href="~/css/newsPageContentGrid.css" type="text/css" />

@{
    var typedMediaPickerSingle = Model.Content.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("image");
    if (typedMediaPickerSingle != null)
    {
        <div class="centered-content">
            <img src="@typedMediaPickerSingle.MediaUrl()" />
        </div>
    }
    else
    {
        <p>Missing image</p>
    }
}
