@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.EventContainerPage>
@using ContentModels = KeaPulss.Models;
@{
    Layout = "_Layout";
}

<h1>hej</h1>