@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.FrontPage>
@using ContentModels = KeaPulss.Models;

@{
    Layout = "_Layout";
    var color = Model?.HeroColor ?? "gray";
}

<section data-component="hero" class=" gap-122 overflow-hidden bg-@color">
    <div class="container relative grid grid-cols-12 gap-24">
        <div class="flex flex-col items-start col-span-10 sm:col-span-7 lg:col-span-5 gap-24 py-64 sm:py-122">
            <h1 class="h1">@Model?.Title</h1>
            <p>@Model?.Description</p>
            <!-- Displaying the HeroColor -->
            <p>Hero Color: @Model?.HeroColor</p>
        </div>
    </div>
</section>
