@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.LoginPage>
@using ContentModels = KeaPulss.Models;
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/Assets/Login.css" type="text/css" />



<link rel="stylesheet" href="~/Assets/Login.css" type="text/css" />
<h2>Login</h2>
<div class="box">
<div class="login-container">
   
    <form class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="#">Sign up</a></p>
</div>

</div>