@using KeaPulss.Core.Services.Interfaces
@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsContainerPage>
@using ContentModels = KeaPulss.Models
@inject INewsService newsService

@{
    Layout = "_Layout";
    var getAllNews = newsService.GetAll();
}
<link rel="stylesheet" href="~/Assets/NewsContainer.css" type="text/css" />

<h1>Relaterede nyheder</h1>
<section data-item="campaign-grid" class="group bg-silver-30">
    @if (getAllNews != null && getAllNews.Any())
    {
        <div class="news-container">
            @for (var i = 0; i < getAllNews.Count(); i++)
            {
                var news = getAllNews.ElementAt(i);
                <div class="news-box">
                    <img src="@news.FirstImage?.Url()" alt="News Image" class="news-image" />
                    <h2>@news.Title</h2>
                    <p>@news.Description</p>
                    <a href="@news.Url()" class="read-more-link">Read More</a>
                </div>

                @if ((i + 1) % 3 == 0 && i < getAllNews.Count() - 1)
                {
                    @:</div><div class="news-container">
                }
            }
        </div>
    }
    else
    {
        <p>Ingen relaterede nyheder tilgængelige.</p>
    }
</section>
