@using Umbraco.Cms.Core.Models.Blocks;
@using KeaPulss.Models;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage





<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titel</title>
    <link rel="stylesheet" href="~/Assets/index.css" type="text/css" />
</head>

<body >
    

    @(await Component.InvokeAsync("Header"))
  
    <div id="main-content">
        @RenderBody()
    </div>


    @(await Component.InvokeAsync("Footer"))


   
    </body>


